body{
    background: hsl(216, 86%, 6%);
    margin: 10%;
    margin-top: 3%;
    color:#8892b0;
    display: inline-flex;
    line-height: 1.3;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}



.picture > img{

  border-radius: 5px;
  padding-left: 25%;
  padding-top: 25%;
}

a:link {
    color: #64ffda;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #64ffda;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgba(255, 255, 0, 0.393);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: #64ffda;
    background-color: transparent;
    text-decoration: underline;
  }

  .hi{
      font-size: 70%;
  }

  .name{
      color:#ccd6f6;
  }

  .dot{
      color:red;
  }

  .contact{
      border: 1px solid #64ffda;
      display:inline-block;
      border-radius: 3px;
      padding:2%;
  }

  .contact:hover{
      background-color: #64ffdb29;
  }

  .skills{
    height: 100px;
    display: grid;
    grid-template-areas: "a a";
    gap: 10px;
    grid-auto-columns: 200px;
  }

  .socials{
    border-top: 1px solid rgba(3, 3, 30, 0.571);
    display:flex;
    list-style: none;
  }


.picture{
   
}
